{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Geolocation Game</title>
  </head>
  <style>
    p.copyright {
        position: absolute;
        width: 100%;
        line-height: 40px;
        font-size: 0.7em;
        text-align: center;
        top:280%;
    }
    .vertical {
        border-left: 6px solid black;
        border-width: thin;
        height: 45px;
        position:absolute;
        left: 9.6%;
    }
    h1{
      text-align: center;
    }
  </style>
  <body>
 <!--Navbar-->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li>
            <a class="nav-link" href="/admin">Login as gamemaster<span class="sr-only"></span></a>
        </li>
        <li>
          <div class = "vertical"></div>
        </li>
        <li>
          <a class="nav-link" href="/login">Login as player<span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </nav>
  <h1>Welcome to Geolocation Game!</h1>
  <footer>
    <p class="copyright">©Copyright Geolocation Game version alpha 1</p>
  </footer>
  </body>
</html>