<!DOCTYPE html>
<html>
<style>
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    width: 20%;
    height: 50%;
}
p.copyright {
        position: absolute;
        width: 100%;
        line-height: 40px;
        font-size: 0.7em;
        text-align: center;
        top:280%;
}
</style>
<body>
<h1>Login as Player</h1>
<br>
  <div>
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.username.label_tag }} {{ form.username }}
      <br>
      {{ form.password.label_tag }} {{ form.password }}
  
      {{ form.errors }}
    
      <input type="submit" value="Login">
    </form>
  </div>
<br>
<h2>
  <a href="/">Back</a>
</h2>
<footer>
  <p class="copyright">©Copyright Geolocation Game version alpha 1</p>
</footer>
</body>
</html>