{% extends "map/choose_game.html" %}
{% block gameboard %}
<h1 id="naslov"> {{ game_selected }} </h1>
<div class="container">
  <div class="row mt-4">
    <div class="col-md-8">
      {{ map|safe}}
    </div>
    <div class="col-md-4">
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="accordion" id="accordionExample">
            <h2>Tasks:</h2>
            {% for task in game.all_tasks %}
            <div class="accordion-item"> 
             <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#task{{ task.task_id }}" aria-expanded="true" aria-controls="task{{ task.task_id }}">
                {{ task.task_name }} 
              </button>
              </h2>
           <div id="task{{ task.task_id }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
           <div class="accordion-body">
               <strong>{{ task.task_description }}</strong> 
           </div>
           </div>
           </div>
          {% endfor %}
          </div> 
        </div>  
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <ul class="list-group">
            {% for gamer in game.co_players %}
            <h2>Co-players:</h2>     
            <li class="list-group-item">{{ gamer }}</li>
            {% endfor %}
          </ul>
        </div>  
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
            <button class="btn btn-outline-success my-2 my-sm-0 mx-3" onclick="getLocation()">Get Location</button>    
            <form action="validate_location" id="form_submit" method="post">
              {% csrf_token %} 
              <input type="hidden" name="lat" value=""/> 
              <input type="hidden" name="lng" value=""/> 
              <input type='hidden' name="tag" value="{{ game_selected }}" /> 
            </form>
            <p id="demo">{{ write_result }}</p>
        </div>  
      </div>
    </div>
  </div>
</div>


<script type = "text/javascript">

  var lat = document.getElementsByName("lat")[0];
  var lng = document.getElementsByName("lng")[0];

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(writePosition);
      return true;
    } else { 
      x.innerHTML = "Geolocation is not supported by this browser.";
      return false;
    }
  }
  
  function writePosition(position) { 
    latitude = position.coords.latitude;
    longitude = position.coords.longitude;
    lat.value = latitude;
    lng.value = longitude;
    setTimeout(() => {
      document.getElementById("form_submit").submit();
    }, 5000);
  }
  

</script>
{% endblock gameboard %}

