<!doctype html>
<html lang="en">
<head>
</head>
<body>
<form action="validate" method="post">
  {% csrf_token %}
  <select name="game_selected" style="display: block; margin: 0 auto;">
    <option disabled selected value>Select a game</option>
    {% for game in game_list %}
    {% for player in game.players.all %}
    {% if user == player.user %}
    <ul><option style="margin-right: 25%" value="{{ game.game_name }}">{{ game.game_name }}</a></ul> 
    {% endif %}
    {% endfor %}
    {% endfor %}
    <input type="submit" value="Submit" style="display: block; margin: 0 auto;">
  </select>
</form>
</body>
</html>


